.nav-link {
  text-decoration: none !important;
}
.dark-theme {
  background-color: #1f1b24;
  color: #f8f8f8;
  height: 100vh;
}
.light-theme {
  background-color: #f1f3fb;
  height: 100vh;
  color: #000;
}
